tmp
/migration/.env
/.idea/
/.env
/main
.env
/di/wire_gen.go
**/wire_gen.go
**/*_mock.go
/di/test_wire_gen.go
**/test_wire_gen.go
lint-report.xml
lint-report-ci.xml
*-report.xml
coverage.out
coverage.html
coverage.xml
coverage.txt
public/
/artifacts/
.DS_Store
**/.DS_Store
.ds_store
**/.ds_store
